.category-card {
    background-color: #346C81;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
    overflow: hidden;
  }
  
  .heading {
    color: white;
    font-size: 24px;
    margin-bottom: 40px;
    font-family: "poppins";
  }
  
  .card-row {
    display: flex;
    gap: 180px;
    justify-content: center;
    width: 100%;
    height: 340px;
  }
  
  .category-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 220px; /* You can adjust the width to your preference */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .category-text {
    font-size: 20px;
    color: black;
    font-family: "poppins";
  }
  
  .category-box img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .img1 {
    position: relative;
    width: 120px;
    left: 3.5rem;
    top: 7rem;
  }
  
  .img2{
    position: relative;
    width: 120px;
    right: 4.1rem;
    top: -2rem;
  }
.img3{
    position: relative;
    width: 130px;
    right: 5rem;
    top: -2rem;
}

.img4{
    position: relative;
    width: 130px;
    left: 4.5rem;
    top: -13rem;
}
.first-category .category-text {
    position: relative;
    top: 22rem;
  }


.img5{
    position: relative;
    width: 120px;
    top: 12rem;
    right: 4.3rem;
}
.img6{
    position: relative;
    width: 130px;
    right: 6rem;
    top: 12rem;
}
  
.img7{
    position: relative;
    width: 120px;
    top: -9rem;
    left: 4rem;
}
.img8{
    position: relative;
    width: 120px;
    top: -9rem;
    left: 6rem;
}
.img9{
    position: relative;
    width: 120px;
    top: -16rem;
}

.second-category .category-text{
    position: relative;
    top: 27rem;
}
  
 .img10{
    position: relative;
    width: 130px;
    top: 8rem;
    right: 6rem;
 } 
  
 .img11{
    position: relative;
    width: 150px;
    top: -5rem;
    left: 3rem;
 }
 .img12{
    position: relative;
    width: 130px;
    top: -6rem;
    left: 6rem;
 }
 .img13{
    position: relative;
    width: 130px;
    top: -15rem;
    right: 3rem;
 }
  
 .third-category .category-text{
    position: relative;
    top: 23rem;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12,
.img13{
  opacity: 0; 
  transition: opacity 0.3s; 
}
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover,
.img10:hover,
.img11:hover,
.img12:hover,
.img13:hover
{
    opacity: 1;
} 

@media screen and (max-width: 768px){
    .category-card{
        display:none;
    }
}





/* .dd{
    position: relative;
    width: auto;
    height: 600px; 
    background-color: #346C81;
}
.hh{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    top: 2rem;
}

.box{
 width: 280px;
  height: 380px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translate(24%,20%);
}
.pp{
    color: black;
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(500%);
    font-size: 24px;
}


.img1{
    transform: translate(110%,-220%);
    width: 140px;
    height: 180px;
}
.img2{
    transform: translate(-100%,-180%);
    width: 120px;
}
.img3{
    transform: translate(-120%,-50%);
    width: 150px;
}
.img4{
    transform: translate(-120%,-100%);
    width: 160px;
} 
 .img1,
.img2,
.img3,
.img4 {
  opacity: 0; 
  transition: opacity 0.3s; 
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover
{
    opacity: 1;
} 

.box2{
    width: 280px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(190%,-136%);
}
.p2{
    color: black;
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(500%);
    font-size: 24px;
}

.img5{
    transform: translate(-5%,-50%);
    width: 120px;
}
.img8{
    transform: translate(-140%,55%);
    width: 140px;
}
.img7{
    transform: translate(80%,-50%);
    width: 150px;
}
.img9{
    transform: translate(-10%,-100%);
    width: 150px;
}
.img6{
    transform: translate(70%,-360%);
    width: 140px;
}
.imag2 {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
.img5,
.img6,
.img7,
.img8,
.img9{
    opacity: 0; 
    transition: opacity 0.3s; 
}
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover{
    opacity: 1;
}

.box3{
    width: 280px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(350%,-235%);
}
.p3{
    color: black;
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(500%);
    font-size: 24px;
}
.imag3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img10{
    transform: translate(-75%,-20%);
    width: 150px;
}
.img11{
    transform: translate(40%,-140%);
    width: 160px;
}
.img12{
    transform: translate(60%,-150%);
    width: 160px;
}
.img13{
    transform: translate(-50%,-210%);
    width: 160px;
}

.img10,
.img11,
.img12,
.img13{
    opacity: 0; 
    transition: opacity 0.3s;
}

.img10:hover,
.img11:hover,
.img12:hover,
.img13:hover{
    opacity: 1;
}














@media screen and (max-width: 768px){
    .dd{
        display:none;
    }
}

@media screen and (max-width: 1024px) {
    .imag,
    .imag2,
    .imag3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  } */
